main {
  max-width: 95%;
  margin: 40px auto 0 auto;
  font-family: sans-serif;
  font-size: 14px;
}

h1.pageTitle {
  font-size: 24px;
  margin-bottom: 12px;
}

button.convert {
  width: 80%;
  font-weight: bold;
  height: 40px;
  display: block;
  margin-top: 40px;
}

button.copyToClipboard {
  font-weight: bold;
  width: 300px;
  height: 40px;
  display: block;
  margin-top: 40px;
}

textarea#inputHtml {
  font-family: monospace;
  font-size: 14px;
  min-width: 400px;
  max-width: 30%;
  height: 400px;
  padding: 12px;
  margin: 40px 40px 0 0;
}

.flex {
  display: flex;
}

p#outputReScript {
  font-family: monospace;
  font-size: 12px;
  white-space: pre;
  background-color: #eee;
  min-width: 400px;
  max-width: 35%;
  height: 400px;
  padding: 12px;
  overflow: scroll;
  margin: 40px 40px 0 0;
}

.clipboard-msg {
  margin-top: 20px;
  color: darkgrey;
}

/* Tests page */
.single-test-result {
  padding: 8px;
  margin-bottom: 16px;
}
.test-pass {
  background-color: rgb(208, 226, 208);
}

.test-fail {
  background-color: rgb(236, 140, 148);
}
